*.tmp
data/*
*.zip
readme
update.txt
core/deprecated.mytheme.php.txt
storefront/view/mytheme/asset
storefront/view/mytheme/config
storefront/view/mytheme/image
storefront/view/mytheme/lib
storefront/view/mytheme/template/blocks
storefront/view/mytheme/template/common
storefront/view/mytheme/template/form
storefront/view/mytheme/template/mail
storefront/view/mytheme/template/pages
storefront/view/mytheme/template/responses