/* Override Bootstrap setting */
.nav-dash * {
    box-sizing: initial;
}
.nav-dash {
    list-style: none outside none;
    margin: 0 -20px 20px;
    padding: 10px 0;
    text-align: center;
}
.nav-dash > li {
    display: inline-block;
    margin: 0 3px;
}
.nav-dash > li > a {
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    color: #777777;
    display: block;
    font-size: 32px;
    min-height: 45px;
	min-width: 45px;
    line-height: 32px;
    margin: 0 0 5px;
    padding: 27px 20px 13px;
    position: relative;
    text-align: center;

}
.nav-dash > li > a:hover, .nav-dash > li.active > a {
    background-color: #F25C27;
    border: 1px solid #DB4A39;
    color: #FFFFFF;
    text-decoration: none;
}
.nav-dash > li > a > .badge, .nav-dash > li > a > .label {
    margin: 0 0 0 3px;
    padding: 3px 7px;
    position: absolute;
    right: 0;
    top: 0;
}

.dash-tiles {
    color: #333333;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.dash-tile {
    background-color: #E9E9E9;
    margin: 0 0 20px;
    min-height: 170px;
    padding: 0 20px;
}
.dash-tile-2x {
    min-height: 400px;
}
.dash-tile-header {
    background-color: #EEEEEE;
    border-bottom: 2px solid #DDDDDD;
    font-weight: bold;
    line-height: 45px;
    margin: 0 -20px;
    min-height: 38px;
    padding: 0 4px 0 10px;
    white-space: nowrap;
}
.dash-tile-options {
    float: right;
    height: 38px;
    line-height: 41px;
}
.dash-tile-options a:hover {
    color: #333333;
    text-decoration: none;
}
.dash-tile-content {
    margin: 0 -20px;
    padding: 10px;
}
.dash-tile-2x .dash-tile-content {
    padding: 15px;
}
.dash-tile-content-inner {
    height: 130px;
}
.dash-tile-2x .dash-tile-content-inner {
    height: 330px;
}
.dash-tile-content-inner-fluid {
    min-height: 130px;
}
.dash-tile-2x .dash-tile-content-inner-fluid {
    min-height: 330px;
}
.dash-tile-content-light {
    background-color: #F9F9F9;
    padding: 10px;
}
.dash-tile-content .alert {
    margin: 5px 0;
}
.dash-tile-icon, .dash-tile-text {
    
    line-height: normal;
}
.dash-tile-icon {
    float: left;
    font-size: 40px;
    padding: 30px 0 0;
    text-align: left;
}
.dash-tile-text {
    float: right;
    font-size: 20px;
    padding: 40px 0 0;
    text-align: right;
}
.dash-tile-leaf .dash-tile-header, .dash-tile-dark .dash-tile-header, .dash-tile-ocean .dash-tile-header, .dash-tile-flower .dash-tile-header, .dash-tile-fruit .dash-tile-header, .dash-tile-oil .dash-tile-header, .dash-tile-balloon .dash-tile-header, .dash-tile-doll .dash-tile-header {
    background-color: #EEEEEE;
    border-bottom: 2px solid #F9F9F9;
    opacity: 0.45;
}
.dash-tile-leaf.no-opacity .dash-tile-header, .dash-tile-dark.no-opacity .dash-tile-header, .dash-tile-ocean.no-opacity .dash-tile-header, .dash-tile-flower.no-opacity .dash-tile-header, .dash-tile-fruit.no-opacity .dash-tile-header, .dash-tile-oil.no-opacity .dash-tile-header, .dash-tile-balloon.no-opacity .dash-tile-header, .dash-tile-doll.no-opacity .dash-tile-header {
    opacity: 1;
}
.dash-tile-leaf:hover, .dash-tile-dark:hover, .dash-tile-ocean:hover, .dash-tile-flower:hover, .dash-tile-fruit:hover, .dash-tile-oil:hover, .dash-tile-balloon:hover, .dash-tile-doll:hover {
    opacity: 0.9;
}
.dash-tile-leaf.no-opacity:hover, .dash-tile-dark.no-opacity:hover, .dash-tile-ocean.no-opacity:hover, .dash-tile-flower.no-opacity:hover, .dash-tile-fruit.no-opacity:hover, .dash-tile-oil.no-opacity:hover, .dash-tile-balloon.no-opacity:hover, .dash-tile-doll.no-opacity:hover {
    opacity: 1;
}
.dash-tile-leaf {
    background-color: #C2DB39;
}
.dash-tile-dark {
    background-color: #555555;
}
.dash-tile-ocean {
    background-color: #3991DB;
}
.dash-tile-flower {
    background-color: #9139DB;
}
.dash-tile-fruit {
    background-color: #DB9839;
}
.dash-tile-oil {
    background-color: #D9DB39;
}
.dash-tile-balloon {
    background-color: #DB6739;
}
.dash-tile-doll {
    background-color: #DB39BB;
}

/* account dashboard */
.tooltip {
    z-index: 1052;
}
.tooltip.in {
    opacity: 1;
}
.tooltip-inner {
    background-color: #00A1CB;
    padding: 6px;
    margin-bottom: 8px; 
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;       
}
.tooltip.top .tooltip-arrow {
    border-top-color: #00A1CB;
    margin-bottom: 8px;    
}
.tooltip.right .tooltip-arrow {
    border-right-color: #00A1CB;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #00A1CB;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #00A1CB;
}

#primary-nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 15px 0;
}
#primary-nav li a {
    background-color: #E9E9E9;
    color: #999999;
    display: block;
    margin: 5px 0 0;
    padding: 9px 10px 6px 40px;
}
#primary-nav li a:hover {
    background-color: #F6F6F6;
    color: #777777;
    text-decoration: none;
}
#primary-nav li a.active {
    border-left: 5px solid #DB4A39;
    color: #333333;
    margin: 5px 0 0;
    padding-left: 35px;
}
#primary-nav li i {
    color: #999999;
    display: inline-block;
    margin: 0 10px 0 -30px;
    text-align: center;
    width: 20px;
}
#primary-nav li span {
    border-radius: 10px 10px 10px 10px;
    display: block;
    float: right;
    font-size: 12px;
    height: 20px;
    text-align: center;
    width: 20px;
}
#primary-nav li.active > ul {
    display: block;
}
#primary-nav li > ul {
    display: none;
    margin: 0;
    padding: 0;
}
#primary-nav li > ul a {
    background: none repeat scroll 0 0 #EEEEEE;
    font-size: 13px;
    margin: 0;
}
#primary-nav li > ul a.active {
    margin: 0;
}
#nav-info {
    background-color: #F6F6F6;
    border-bottom: 1px solid #DDDDDD;
    list-style: none outside none;
    margin: -20px -20px 20px;
    padding: 0;
}
#nav-info > li:first-child {
    background: none repeat scroll 0 center transparent;
    padding: 0 15px;
}
#nav-info > li {
    background: no-repeat left top;
    background-size: 5px 30px;
    color: #999999;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 33px;
    padding: 0 15px 0 20px;
}
#nav-info > li > a {
    color: #555555;
}
#nav-info > li.active {
    color: #555555;
}
#nav-info > li.active a {
    color: #DB4A39;
}
/* ENDOF account dashboard */
