
#social_icons, .social_icons {
	float: right;
	margin-right: -12px
}

#social_icons a, .social_icons a  {
	background: url(../image/footericon.png) no-repeat;
	height: 30px;
	width: 30px;
	margin-right: 11px;
	text-indent: -9999px;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 5px;
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease
}

#social_icons a:hover, .social_icons a:hover {
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease
}

#social_icons a.facebook, .social_icons a.facebook {
	background-position: 0 -6px;
}

#social_icons a.facebook:hover, .social_icons a.facebook:hover {
	background-position: 0 -47px;
}

#social_icons a.twitter, .social_icons a.twitter  {
	background-position: -40px -6px
}

#social_icons a.twitter:hover, .social_icons a.twitter:hover {
	background-position: -40px -47px
}

#social_icons a.linkedin, .social_icons a.linkedin {
	background-position: -80px -6px
}

#social_icons a.linkedin:hover, .social_icons a.linkedin:hover {
	background-position: -80px -47px
}

#social_icons a.blooger, .social_icons a.blooger {
	background-position: -118px -6px
}

#social_icons a.blooger:hover, .social_icons a.blooger:hover {
	background-position: -118px -47px
}

#social_icons a.rss, .social_icons a.rss {
	background-position: -155px -6px
}

#social_icons a.rss:hover, .social_icons a.rss:hover {
	background-position: -155px -47px
}

#social_icons a.dig, .social_icons a.dig {
	background-position: -194px -6px
}

#social_icons a.dig:hover, .social_icons a.dig:hover {
	background-position: -194px -47px
}

#social_icons a.googleplus, .social_icons a.googleplus {
	background-position: -234px -6px
}

#social_icons a.googleplus:hover, .social_icons a.googleplus:hover {
	background-position: -234px -47px
}

#social_icons a.skype, .social_icons a.skype {
	background-position: -271px -6px
}

#social_icons a.skype:hover, .social_icons a.skype:hover {
	background-position: -271px -47px
}

#social_icons a.flickr, .social_icons a.flickr {
	background-position: -309px -6px
}

#social_icons a.flickr:hover, .social_icons a.flickr:hover {
	background-position: -309px -47px
}

